//colors
$dark-bg-color: #003049;
$light-bg-color: #009ef3;
$important-text-color: #d62828;

//measurements
$xsmall-measurements: 0.5rem;
$small-measurements: 1rem;
$medium-measurements: 2rem;
$large-measurements: 3rem;
$xlarge-measurements: 5rem;
