.hero {
  width: 100vw;
  height: 100vh;
  background: url("https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-bg-color;
    opacity: 85%;
    z-index: 1;
  }
  //Mobile responsiveness

  &-content {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    z-index: 2;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    text-transform: uppercase;
    .name {
      color: $important-text-color;
    }
  }
  h1,
  h3 {
    margin-bottom: $xsmall-measurements;
  }
  h3 {
    font-weight: 300;
  }
}

@media only screen and (max-width: 600px) {
  .hero-content {
    font-size: 1rem;
  }
}
